<div id="shell-setup"> {% comment %} Start of 'shell' section. {% endcomment %}
  <h3>The Bash Shell</h3>
  <p>
    Bash is a commonly-used shell that gives you the power to do simple tasks
    more quickly. Please find setup instructions in
    the <a href="https://librarycarpentry.org/lc-shell/index.html#setup">lesson</a>.
  </p>
</div>

<div id="python-setup">
  <h3>Python</h3>
  <p>
    Python is a popular language for research computing, and great for general-purpose programming as well. Please find instructions to
    install it and the data used in the lesson in the
    <a href="https://librarycarpentry.org/lc-python-intro/index.html#installing-python-using-anaconda">lesson</a>.
  </p>
</div>
